div {
    margin: 50px;
      padding: 1em;
      display: flex;
      justify-content: center;
      background: linear-gradient(to bottom, white, grey);
  
      border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
     
      a {
        color: black;
        margin: 1em;
        text-decoration: none;
      }
      .active {
        color: green;
        border-bottom: solid 1px green;
      }
    }
  
    .logo{
      border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
    }