<app-navegacion-usuario></app-navegacion-usuario>
<input type="text" placeholder="introduce texto aqui">
<div class="contenedor">
    <div class="encabezado">
        <div (click)="ordenarPorAlias()">
          Alias
        </div>
    
        <div (click)="ordenarPorSubject()" class="subject">
          Subject
        </div>
        <div (click)="ordenarPorFecha()">
          Fecha Caducidad
        </div>
        <div (click)="ordenarPorOrganizacion()">
          Id Organización
        </div>
        <div>
          Opciones
        </div>
      </div>
  <div class ="contenedorBoard" >
      

  <div class="boardCertificados" *ngFor="let certificado of certificateList" >
    <div>
      {{certificado.alias}}
    </div>
    <div id="subject">
      {{certificado.subject.split('CN=')[1].split(',')[0]}}
    </div>
    <div>
      {{certificado.caducidad}}
    </div>
    <div>
      {{certificado.id_orga}}
    </div>
    <div class="opciones">
      <i class="material-icons" (click)="descargarCertificado(certificado)">save</i>
      <i class="material-icons" routerLink="/detallescert/{{certificado.id}}">help</i>
      
    </div>


  </div>
</div>
</div>