div{
    border:1px solid black;
}
.encabezado{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
   background:whitesmoke;
   margin: 15px;
}
h1{
    text-align: center;
}
.certificado{
    background-color:gray; 
    grid-column-start: 2;
    grid-column-end: 5;
   padding:10px;
   
}