<app-navegacion-usuario></app-navegacion-usuario>
<input type="text" placeholder="introduce texto aqui">
<div class="encabezado">
  <div class="alias">
    Alias
  </div>
  <div class="entidad">
    Entidad Emisora
  </div>
  <div class="serial_number">
    Número de serie
  </div>
  <div class="subject">
    Subject
  </div>
  <div class="Caducidad">
    Fecha de caducidad
  </div>
  <div class="id_orga">
    Id Org.
  </div>
  <div class="nom_cliente">
    Cliente
  </div>
  <div class="integraciones">
    Lista integraciones
  </div>
  <div class="repositorio">
    Repositorio
  </div>
  <div class="observaciones">
    Observaciones
  </div>
</div>