.contenedor{
  
    .esta-borrado{
        background-color: red;
    }
    

    .encabezado{
    margin: 2vh;
    background-color: silver;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
      
        div{
            border: 1px solid black;
        }
            
        }
        

    }
    .contenedorBoard{
        overflow: auto;
    }
    .boardCertificados{
        display: grid;
       
        max-height: 600px;
        margin-left:2vh;
        margin-right: 2vh;
        grid-template-columns: repeat(5,1fr);
        div{
            height: 3em;
            border: 1px solid green;
            background: white;
            border: 1px solid black; 
        }
    }
    i{
        cursor: pointer;
    }
