.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    padding: 10px;
   
}
h1{
    text-align: center;
}
.certificado{
    background-color:gray; 
    grid-column-start: 2;
    grid-column-end: 5;
   padding:10px;
   
}