
<app-navegacion-usuario></app-navegacion-usuario>
<h2>Detalles del certificado</h2>
<div class="contenedor">
    <div class="datosCert">
        <div>Alias: {{certificado.alias}}</div>
        <div>Entidad emisora: {{certificado.entidad_emisora}}</div>
        <div>Nº Serie: {{certificado.numero_de_serie}}</div>
        <div>Subject: {{certificado.subject.split('CN=')[1].split(',')[0]}}</div>
        <div>Fecha caducidad: {{certificado.caducidad}}</div>
        <div>Id Orga: {{certificado.id_orga}}</div>
        <div>Cliente: {{certificado.nombre_cliente}}</div>
        <div>Repositorio: {{certificado.repositorio}}</div>
        <div>Observaciones: {{certificado.observaciones}}</div>
        <div>Lista Int: {{certificado.integration_list}}</div>
       

    </div>

</div>