h1{
    text-align: center;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
input{
   
    border-bottom: 1px solid black;
    margin: 2em 0;
    max-width: 150px;
    color: black;
}

.datosCert{
    text-align: center;
    align-content: center;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 3 em; 
    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

div{
    margin: 2em;
}
p{
    text-decoration: underline;
    color: #98CB00;
    font-weight: bold;  
}