
<app-navegacion-usuario></app-navegacion-usuario>
<h2>Detalles del certificado</h2>
<div class="contenedor">
    <div class="formularioCert">
        <input type="text" name="alias" placeholder="Alias" [(ngModel)]="alias">

        <input type="password" name="pass" placeholder="Password" [(ngModel)]="password">

        <input type="text" name="idorga" placeholder="Cliente / ID_Orga" [(ngModel)]="idOrga">

        <input type="text" name="contact" placeholder="E-mail Contacto" [(ngModel)]="contact">

        <input type="text" name="repository" placeholder="Repositorio" [(ngModel)]="repository">

        <textarea type="text" name="integrations" placeholder="Integraciones" [(ngModel)]="integrations"></textarea>

        <textarea type="text" name="observations" placeholder="Observaciones" [(ngModel)]="observations"></textarea>

       

    </div>

</div>