div {
  margin: 50px;
    padding: 1em;
    display: flex;
    justify-content: center;
    background: whitesmoke;

    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
   
    a {
      color: #98CB00;
      font-weight: bold;
      margin: 1em;
      text-decoration: none;
    }
    .active {
      color: red;
      border-bottom: solid 1px red;
    }
  }

  .logo{
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
  }