div {
  margin: 50px;
    padding: 1em;
    display: flex;
    justify-content: center;
    background: white;

    border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
   
  }
  img{
    width: 25%;
    height: 25%;
  }

  .logo{
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
  }

